<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  id="Blog" version="2.5">
  <display-name>Blog Sample</display-name>

  <filter>
    <filter-name>Wicket</filter-name>
    <filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
    <!-- 
    <init-param>
      <param-name>applicationFactoryClassName</param-name>
      <param-value>org.wicketstuff.osgi.OsgiWebApplicationFactory</param-value>
    </init-param>
    <init-param>
      <param-name>wicket.osgi.application.name</param-name>
      <param-value>blog</param-value>
    </init-param>
    -->
    <init-param>
      <param-name>applicationClassName</param-name>
      <param-value>com.googlecode.osgienterprise.blog.wicket.BlogApplication</param-value>
    </init-param>
  </filter>

  <filter-mapping>
    <filter-name>Wicket</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>

  <session-config>
    <session-timeout>15</session-timeout>
  </session-config>
</web-app>

