<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ant.AntLaunchConfigurationType">
<booleanAttribute key="org.eclipse.ant.ui.DEFAULT_VM_INSTALL" value="true"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/aggregator/aries-pde/com.googlecode.osgienterprise.ariespde.library.service/enhance.xml"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.ant.ui.AntClasspathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/java-6-sun-1.6.0.24"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.eclipse.ant.internal.launching.remote.InternalAntRunner"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="aggregator"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.ant.ui.AntClasspathProvider"/>
<mapAttribute key="org.eclipse.ui.externaltools.ATTR_ANT_PROPERTIES">
<mapEntry key="eclipse.pdebuild.home" value="/home/hwellmann/eclipse/eclipse-3.6.2/plugins/org.eclipse.pde.build_3.6.2.R36x_20110203/./"/>
<mapEntry key="eclipse.pdebuild.scripts" value="/home/hwellmann/eclipse/eclipse-3.6.2/plugins/org.eclipse.pde.build_3.6.2.R36x_20110203/scripts/"/>
<mapEntry key="eclipse.pdebuild.templates" value="/home/hwellmann/eclipse/eclipse-3.6.2/plugins/org.eclipse.pde.build_3.6.2.R36x_20110203/templates/"/>
<mapEntry key="platform.install" value="/home/hwellmann/targets/aries-p2-0.0.1-SNAPSHOT"/>
<mapEntry key="target.folder" value="/home/hwellmann/work/osgi-enterprise/aries-pde/com.googlecode.osgienterprise.ariespde.library.service/bin"/>
</mapAttribute>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_ANT_TARGETS" value="post.compile.@dot,"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="${workspace_loc:/aggregator/aries-pde/com.googlecode.osgienterprise.ariespde.library.service/enhance.xml}"/>
<stringAttribute key="process_factory_id" value="org.eclipse.ant.ui.remoteAntProcessFactory"/>
</launchConfiguration>
